In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk
import keras

Using TensorFlow backend.

In [3]:
feat = pd.read_csv('train_data.csv')
targets = pd.read_csv('train_reponse.csv')

In [4]:
feat.head()

                review_id                                               text
0  CuAG9zG2VDdd4hPGMip2Xg  Deeeelicious!\n\nFirst, the upstairs is a pret...
1  oipDuz40GWRdhFI_ck0hmQ  Just had a baby!\n\n...about a month ago. Had ...
2  k7IdlhwtZ2evNJOkaKmPoQ  Since I was staying in the hotel we had a $25 ...
3  xg1qeM_nYE0r0PYBZQedzg  I can't believe that I haven't reviewed this s...
4  u3eX3oMz3hC2KfX3mdKBlA  Mmmm so much choice and it's all completely aw...

In [5]:
targets.head()

                review_id  stars
0  CuAG9zG2VDdd4hPGMip2Xg      4
1  oipDuz40GWRdhFI_ck0hmQ      5
2  k7IdlhwtZ2evNJOkaKmPoQ      3
3  xg1qeM_nYE0r0PYBZQedzg      5
4  u3eX3oMz3hC2KfX3mdKBlA      5

In [7]:
df = feat.merge(targets)

In [63]:
X = pd.DataFrame(df['text'])
y = df['stars']

In [14]:
from nltk.tokenize import TreebankWordTokenizer

In [43]:
X

                                                     text
0       Deeeelicious!\n\nFirst, the upstairs is a pret...
1       Just had a baby!\n\n...about a month ago. Had ...
2       Since I was staying in the hotel we had a $25 ...
3       I can't believe that I haven't reviewed this s...
4       Mmmm so much choice and it's all completely aw...
5       tried to go today at lunchtime:  but didn't re...
6       To me, this is the BEST Sushi place in town an...
7       i miss this place so much, it's insanity. \n\n...
8       Love San Tan Village. It's conveniently locate...
9       no hanky panky here.. the idea of these places...
10      Throughout this review I've debated between 3 ...
11      I've stayed in just about every hotel in Vegas...
12      Food is amazing and so is the ambiance - elega...
13      Never again...went in for a part and have them...
14      I believe the cronuts are the best product the...
15      They have a great selection but the prices are...
16      If I could give this please more starts I easi...
17      I am officially 5 lbs heavier than I was 2 hou...
18      Ok Yelpers... this is the epitome of  value, a...
19      I love this Barnes and Noble. It is always nea...
20      Weera Thai is a wonderful Thai restaurant loca...
21      We have stayed at this hotel once but we will ...
22      It's fun to say, isn't it? Go ahead, it just r...
23      So many hours clocked in here I can't begin to...
24      The service was great! Horchata was awesome an...
25      I like the set up. Staff is friendly. Kind of ...
26      Ordered for delivery and never received my ord...
27      Quick service. The employees actually seem hap...
28      Stopped in here just for some drinks and apps ...
29      I've only just now read the reviews here for t...
...                                                   ...
499970  I got to get my dream sandwich the other day, ...
499971  Love to bowl here! Great clean lanes and well ...
499972  Horrible place to go.. It's small and the loca...
499973  steak & eggs!\n\nsteak and eggs for $3.99? i'm...
499974  Good fish & chips, good service and nice locat...
499975  I have gone to this location when it was Angel...
499976  They have these in the South Bay where I grew ...
499977  My friend and I went in here on a Sunday after...
499978  This show was a blast! They have stunning visu...
499979  The frozen hot chocolate is PERFECT during sum...
499980  lovely spot to grab a late night dinner for tw...
499981  I love Jupiter's pizza. Lots of different exce...
499982  I feel compelled to write an additional review...
499983  This Fry's makes me feel like I am at the Ritz...
499984  It's been 3 days since I ate here and I'm stil...
499985  Pretty bad. Wait staff nice and friendly but t...
499986  On my last day of my boys bachelor party we ca...
499987  Wow a lot of bad experiences for people at thi...
499988  Tucked away in a sort of strip mall (next to R...
499989  The service here is terrible.  The place was e...
499990  Saying this hotel is below average is kind. Th...
499991  DO NOT STAY HERE!!!!!\n\nHorrible experience l...
499992  Over priced and bad service. Last time I ate t...
499993  Popped in to check out the happy hour specials...
499994  I like to come during happy hour. They have a ...
499995  I went here a short time ago with a social net...
499996           Fresh and yummy.  I nice change from Pho
499997  I love there thin crust pizza... They would wi...
499998  So faer this has been the best shop I have bee...
499999  I would stay away from this Store. They do not...

[500000 rows x 1 columns]

In [15]:
tw = TreebankWordTokenizer()

In [19]:
tokens = tw.tokenize(X[0])

In [20]:
tokens

['Deeeelicious',
 '!',
 'First',
 ',',
 'the',
 'upstairs',
 'is',
 'a',
 'pretty',
 'cool',
 'area',
 'to',
 'sit',
 'and',
 'wait',
 'for',
 'a',
 'table.',
 'When',
 'we',
 'arrived',
 'we',
 'realized',
 'we',
 'forgot',
 'to',
 'make',
 'reservations',
 '(',
 'sigh',
 ')',
 'and',
 'were',
 'forced',
 'to',
 'wait',
 'around',
 'for',
 'an',
 'hour.',
 'But',
 'luckily',
 'they',
 'have',
 'a',
 'bar',
 'and',
 'seating',
 'area',
 'upstairs',
 'where',
 'you',
 'can',
 'order',
 'drinks',
 'and',
 'appetizers',
 'while',
 'you',
 'wait',
 '!',
 'I',
 'had',
 'wine',
 ',',
 'my',
 'boyfriend',
 'had',
 'beer',
 'and',
 'we',
 'of',
 'course',
 'ordered',
 'some',
 'cheese',
 'curds.',
 'They',
 'are',
 'so',
 'good',
 ',',
 'some',
 'of',
 'the',
 'best',
 'in',
 'Madison',
 '!',
 'Perfectly',
 'seasoned',
 'and',
 'still',
 'gooey',
 'inside.',
 'When',
 'we',
 'were',
 'finally',
 'seated',
 ',',
 'I',
 'was',
 "n't",
 'as',
 'hungry',
 'as',
 'I',
 'thought',
 'I',
 "'d",
 'be',
 '(',
 'probably',
 'from',
 'eating',
 'almost',
 'all',
 'of',
 'the',
 'curds',
 ')',
 'so',
 'I',
 'ordered',
 'a',
 'soup',
 'and',
 'salad',
 'combo.',
 'You',
 'get',
 'a',
 'lot',
 'of',
 'food',
 'for',
 'a',
 'cheap',
 'price',
 '(',
 '$',
 '6.99',
 ')',
 '.',
 'The',
 'soup',
 'was',
 'a',
 'creamy',
 'tomato',
 'soup',
 'and',
 'the',
 'salad',
 'is',
 'a',
 'simple',
 'tossed',
 'salad',
 'with',
 'lots',
 'of',
 'feta.',
 'Both',
 'were',
 'yummy',
 ',',
 'I',
 'really',
 'enjoyed',
 'the',
 'soup',
 'though',
 'and',
 'I',
 'could',
 'have',
 'eaten',
 'an',
 'entire',
 'bowl',
 'of',
 'it.',
 'My',
 'boyfriend',
 'had',
 'the',
 'Craftsman',
 'burger',
 'and',
 'really',
 'enjoyed',
 'it.',
 'Service',
 'was',
 'great',
 ',',
 'too.',
 'We',
 'will',
 'be',
 'back',
 ',',
 'next',
 'time',
 'with',
 'reservations',
 '!']

In [24]:
def preprocessing(string, punctuation):
    tokens = TreebankWordTokenizer().tokenize(string)
    tokens = [x for x in tokens if x not in punctuation]
    return ' '.join(tokens)

In [25]:
from string import punctuation
punc = list(punctuation)
punc = [x for x in punc if x not in ['!', '?']]

In [36]:
X['no_punc'] = X['text'].apply(preprocessing, args=[punc])

KeyboardInterrupt:

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [61]:
vect = TfidfVectorizer(max_features=1000)

In [64]:
X = vect.fit_transform(X['text'])

In [65]:
y = pd.get_dummies(y)
y.columns = ['stars_{}'.format(x) for x in y.columns]

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [71]:
X_train.shape

(375000, 1000)

In [76]:
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam
import keras.backend as K

In [89]:
K.clear_session()
model = Sequential()
opt = Adam()

In [90]:
model.add(Dense(units=128, activation='relu', input_dim=len(vect.get_feature_names())))
model.add(Dense(16))
model.add(Dense(5))

model.compile(opt, loss='categorical_crossentropy')

In [91]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 128)               128128
_________________________________________________________________
dense_2 (Dense)              (None, 16)                2064
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 85
=================================================================
Total params: 130,277
Trainable params: 130,277
Non-trainable params: 0
_________________________________________________________________

In [92]:
model.fit(X_train, y_train, batch_size=500, epochs=10, validation_split=0.1)

Train on 337500 samples, validate on 37500 samples
Epoch 1/10
337500/337500 [==============================] - 10s 31us/step - loss: 3.7846 - val_loss: 4.3545
Epoch 2/10
337500/337500 [==============================] - 6s 19us/step - loss: 5.9698 - val_loss: 7.4325
Epoch 3/10
337500/337500 [==============================] - 7s 21us/step - loss: 6.8889 - val_loss: 6.7086
Epoch 4/10
337500/337500 [==============================] - 7s 20us/step - loss: 6.9654 - val_loss: 7.0616
Epoch 5/10
337500/337500 [==============================] - 10s 30us/step - loss: 7.2712 - val_loss: 7.3693
Epoch 6/10
337500/337500 [==============================] - 6s 18us/step - loss: 7.5190 - val_loss: 7.6490
Epoch 7/10
337500/337500 [==============================] - 11s 33us/step - loss: 7.7417 - val_loss: 7.8859
Epoch 8/10
337500/337500 [==============================] - 9s 27us/step - loss: 7.9335 - val_loss: 8.0599
Epoch 9/10
337500/337500 [==============================] - 6s 19us/step - loss: 8.0909 - val_loss: 8.1859
Epoch 10/10
337500/337500 [==============================] - 7s 22us/step - loss: 8.2195 - val_loss: 8.3505

In [93]:
model.evaluate(X_test, y_test)

125000/125000 [==============================] - 7s 58us/step

8.28729291168213