In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk
import keras
from nltk.tokenize import TreebankWordTokenizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam
import keras.backend as K
from sklearn.externals import joblib
from keras.callbacks import EarlyStopping

Using TensorFlow backend.

In [2]:
feat = pd.read_csv('train_data.csv')
targets = pd.read_csv('train_reponse.csv')

In [3]:
df = feat.merge(targets)

In [4]:
df

,review_id,text,stars
0,CuAG9zG2VDdd4hPGMip2Xg,"Deeeelicious!\n\nFirst, the upstairs is a pret...",4
1,oipDuz40GWRdhFI_ck0hmQ,Just had a baby!\n\n...about a month ago. Had ...,5
2,k7IdlhwtZ2evNJOkaKmPoQ,Since I was staying in the hotel we had a $25 ...,3
3,xg1qeM_nYE0r0PYBZQedzg,I can't believe that I haven't reviewed this s...,5
4,u3eX3oMz3hC2KfX3mdKBlA,Mmmm so much choice and it's all completely aw...,5
5,weJ-rLGzWKTIzhyDgomLSA,tried to go today at lunchtime: but didn't re...,3
6,6ZCeScwRyLiupX-7iOtX4w,"To me, this is the BEST Sushi place in town an...",5
7,ePrwqwZ0w8RmeMcxym3EpA,"i miss this place so much, it's insanity. \n\n...",5
8,5eGl3SQ_9F6pf7MAZ4JykQ,Love San Tan Village. It's conveniently locate...,4
9,ZBxeVSGhxgS00_8Kyi9u5g,no hanky panky here.. the idea of these places...,5
10,oO4XuvWU86GSutZ8jsHvhg,Throughout this review I've debated between 3 ...,3
11,bRqN_gKkg2LUb1-fYuy3HA,I've stayed in just about every hotel in Vegas...,5
12,SxZB2EtQCoCD7OrvIjf1ag,Food is amazing and so is the ambiance - elega...,5
13,vFCW78zM4h1oMKx3dyR74A,Never again...went in for a part and have them...,1
14,KyT9GhQqdaT1Odlk_PtEcA,I believe the cronuts are the best product the...,3
15,_hQywFfTkt0gWKRs5-qhDQ,They have a great selection but the prices are...,3
16,v95rpzwruYABipj8lUNGjA,If I could give this please more starts I easi...,5
17,ElMwoPpO-CMIMhsxxzxMaw,I am officially 5 lbs heavier than I was 2 hou...,4
18,steyNxuhIj9KcSR6F15tFA,"Ok Yelpers... this is the epitome of value, a...",5
19,JW5IS4QEFX_IqoslGO09Gg,I love this Barnes and Noble. It is always nea...,4
20,uyqsR38rRI2FHzOtS3pDFA,Weera Thai is a wonderful Thai restaurant loca...,4
21,HSgqiO0Sk_PcP6wjiDJe5A,We have stayed at this hotel once but we will ...,5
22,NTtQChYZvKFq8KcmtjukQw,"It's fun to say, isn't it? Go ahead, it just r...",5
23,8w6WtmcQJ764Gh5eJQe7BQ,So many hours clocked in here I can't begin to...,4
24,BOvaxYX6nNKiCo76kbOAZQ,The service was great! Horchata was awesome an...,5
25,lFMiLSx2-hRHYUuMWRCeDg,I like the set up. Staff is friendly. Kind of ...,4
26,d0-BMyIQlTRSKm20HMastg,Ordered for delivery and never received my ord...,1
27,bNEJ16TsKiZF0Uan6Kf2pQ,Quick service. The employees actually seem hap...,4
28,gVF2aZkBEGIsazavsv85EQ,Stopped in here just for some drinks and apps ...,3
29,JwfVOuJtZo0o5bheTYTtNQ,I've only just now read the reviews here for t...,1
...,...,...,...
499970,hcONsp7g0Vx8QweEmjWlVA,"I got to get my dream sandwich the other day, ...",5
499971,4swbQDfsYbMFvdBjikB0Tw,Love to bowl here! Great clean lanes and well ...,4
499972,suBzPM9CK7ylVMbsBpxctg,Horrible place to go.. It's small and the loca...,1
499973,58VHxSwBRGWZetFulStx0w,steak & eggs!\n\nsteak and eggs for $3.99? i'm...,4
499974,CLfogYERjL7mQpvYIvFuTg,"Good fish & chips, good service and nice locat...",4
499975,JdiYcbkRtqvpUNiZARzKJQ,I have gone to this location when it was Angel...,4
499976,6inDiEE93CvraH5IKc9iFg,They have these in the South Bay where I grew ...,5
499977,glWL6TJreX-pp60AZCpubw,My friend and I went in here on a Sunday after...,4
499978,sXhzUycmR39ewl4Zgpm6qw,This show was a blast! They have stunning visu...,4
499979,nsWD_xA8rb7wUG766ZwPqg,The frozen hot chocolate is PERFECT during sum...,4
499980,JlxnQ7uFm4gmoKeovGFlKw,lovely spot to grab a late night dinner for tw...,4
499981,3v7EWCJfwDHK-cX5Jc5aCw,I love Jupiter's pizza. Lots of different exce...,4
499982,AXlEOyRuFvgeekUMpgYjcg,I feel compelled to write an additional review...,4
499983,ssedthCVnH2TQH_KihiDMA,This Fry's makes me feel like I am at the Ritz...,5
499984,2GRtrWFqMLKISybGF09BXw,It's been 3 days since I ate here and I'm stil...,4
499985,d83TLLObIsEHAiIoEUJGMA,Pretty bad. Wait staff nice and friendly but t...,1
499986,VfHPqcC-vPJJH23oZfFhyw,On my last day of my boys bachelor party we ca...,3
499987,GI0Y4_G7vLVMqDK19N9U7Q,Wow a lot of bad experiences for people at thi...,4
499988,UVW7aS6zVQxfORyOpPtgkg,Tucked away in a sort of strip mall (next to R...,5
499989,3Zb0qonngSUgKZgVqk92Lg,The service here is terrible. The place was e...,1
499990,vF7xtFrbANXLT90W1m_2Ig,Saying this hotel is below average is kind. Th...,1
499991,XR4og1wnVTg7Eos40CMPMg,DO NOT STAY HERE!!!!!\n\nHorrible experience l...,1
499992,I6EJioeNTydzot32dRnOxA,Over priced and bad service. Last time I ate t...,2
499993,_eegXWqtyc9k0RAEVnpIyg,Popped in to check out the happy hour specials...,2
499994,-v2QxF9JWbHRG8D-TiYUcA,I like to come during happy hour. They have a ...,4
499995,bFLRSIZl0K3modrtCGkmpA,I went here a short time ago with a social net...,4
499996,kS_zIB1Ux1XyO69SDZI0tA,Fresh and yummy. I nice change from Pho,4
499997,cwlrcezZ3N13GcULbzM1fA,I love there thin crust pizza... They would wi...,5
499998,mEBoraTE3vdrw_gW4HVdNQ,So faer this has been the best shop I have bee...,5
499999,an2g7NYS0frN1KBT1Uc46g,I would stay away from this Store. They do not...,1

In [5]:
X = pd.DataFrame(df['text'])
y = df['stars']

In [5]:
def preprocessing(string, punctuation):
    tokens = TreebankWordTokenizer().tokenize(string)
    tokens = [x for x in tokens if x not in punctuation]
    return ' '.join(tokens)

In [ ]:
from string import punctuation
punc = list(punctuation)
punc = [x for x in punc if x not in ['!', '?']]

In [ ]:
#X['no_punc'] = X['text'].apply(preprocessing, args=[punc])

In [6]:
vect = TfidfVectorizer(max_features=10000)

In [9]:
X = vect.fit_transform(X['text'])

In [23]:
joblib.dump(vect, 'vector.pkl')

['vector.pkl']

In [7]:
y = pd.get_dummies(y)
y.columns = ['stars_{}'.format(x) for x in y.columns]

In [10]:
y.head()

   stars_1  stars_2  stars_3  stars_4  stars_5
0        0        0        0        1        0
1        0        0        0        0        1
2        0        0        1        0        0
3        0        0        0        0        1
4        0        0        0        0        1

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [12]:
X_train.shape

(375000, 10000)

In [13]:
K.clear_session()
model = Sequential()
opt = Adam()
es = EarlyStopping(patience=2)

In [15]:
model.add(Dense(units=64, activation='tanh', input_dim=len(vect.get_feature_names())))
model.add(Dense(4, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(5, activation='softmax'))

model.compile(opt, loss='categorical_crossentropy')

In [16]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 64)                640064
_________________________________________________________________
dense_2 (Dense)              (None, 4)                 260
_________________________________________________________________
dense_3 (Dense)              (None, 16)                80
_________________________________________________________________
dense_4 (Dense)              (None, 5)                 85
=================================================================
Total params: 640,489
Trainable params: 640,489
Non-trainable params: 0
_________________________________________________________________

In [17]:
model.fit(X_train, y_train, batch_size=500, epochs=10, validation_split=0.1, callbacks=[es])

Train on 337500 samples, validate on 37500 samples
Epoch 1/10
337500/337500 [==============================] - 84s 248us/step - loss: 0.9758 - val_loss: 0.8621
Epoch 2/10
337500/337500 [==============================] - 54s 160us/step - loss: 0.8390 - val_loss: 0.8614
Epoch 3/10
337500/337500 [==============================] - 55s 163us/step - loss: 0.8245 - val_loss: 0.8599
Epoch 4/10
337500/337500 [==============================] - 56s 165us/step - loss: 0.8165 - val_loss: 0.8640
Epoch 5/10
337500/337500 [==============================] - 55s 164us/step - loss: 0.8107 - val_loss: 0.8644

In [18]:
model.evaluate(X_test, y_test)

125000/125000 [==============================] - 21s 170us/step

0.8668797902908325

In [19]:
predictions = model.predict(X_test)

In [20]:
joblib.dump(model, 'model.pkl')

['model.pkl']

In [21]:
predictions = pd.DataFrame(predictions)
predictions.columns = ['stars_1', 'stars_2', 'stars_3', 'stars_4', 'stars_5']

In [22]:
predictions.head()

        stars_1   stars_2   stars_3   stars_4   stars_5
0  2.619189e-03  0.018879  0.170540  0.323833  0.484129
1  2.313532e-07  0.000012  0.000843  0.131217  0.867928
2  6.319660e-01  0.284619  0.059927  0.010904  0.012584
3  5.687640e-06  0.000058  0.001648  0.144409  0.853878
4  1.446419e-05  0.000559  0.023755  0.357861  0.617811